@use "functions";
@use "media";
@use "mixins";
@use "variables";

@use "sass:color";

.author {
  background: variables.$lightGray;
  display: table;
  width: 100%;
  padding: functions.rem(40px) 0;
  margin: functions.rem(40px) 0;

  @include media.media(">=sm") {
    padding: functions.rem(50px) 0;
  }

  .details {
    margin: auto;
    max-width: functions.rem(800px);
    padding: 0 functions.rem(20px);

    @include media.media("<sm") {
      text-align: center;
    }
  }

  svg {
    @include mixins.size(25, 25);
    margin-right: functions.rem(10px);
  }

  a {
    fill: color.scale(variables.$lightGray, $lightness: -30%);
    text-decoration: none;
    border: none;
    transition: all 0.3s;

    &:hover {
      fill: variables.$themeColor;
    }
  }

  img {
    width: functions.rem(150px);
    border-radius: 50%;
    display: block;
    margin: auto;

    @include media.media(">=sm") {
      width: functions.rem(180px);
      float: left;
      margin-right: 3.125rem;
    }
  }

  .def {
    color: gray;
    font-size: functions.rem(18px);
    @include mixins.mainFont(300);
    margin: functions.rem(10px);

    @include media.media(">=sm") {
      margin: 0;
    }
  }

  .name {
    margin: 0;

    a {
      @include mixins.mainFont();
      text-decoration: none;
      color: black;
      font-size: functions.rem(30px);

      @include media.media(">=sm") {
        font-size: functions.rem(45px);
      }

      &:hover {
        color: variables.$texts;
      }
    }
  }

  .desc {
    @include mixins.mainFont(300);
    margin: functions.rem(10px);
    font-size: functions.rem(16px);
    line-height: functions.rem(25px);

    @include media.media(">=sm") {
      font-size: functions.rem(18px);
    }
  }
}
