@use "functions";
@use "media";
@use "mixins";
@use "variables";

@use "sass:color";

.comments {
  @include mixins.center(functions.rem(800px));
  padding: 0 functions.rem(20px);

  h3 {
    margin: 0 0 functions.rem(30px);
    font-size: functions.rem(30px);
  }
}

footer {
  @include mixins.center(functions.rem(800px));
  border-top: 1px solid color.scale(variables.$accentDark, $lightness: -10%);
  background: variables.$accentDark;
  padding: functions.rem(20px) functions.rem(25px);
  margin-top: functions.rem(50px);
  margin-bottom: functions.rem(120px);
  @include mixins.mainFont(300);

  @include media.media(">=sm") {
    margin-top: functions.rem(100px);
  }

  p {
    text-decoration: none;
    color: variables.$primaryDark;
    font-size: functions.rem(16px);
    line-height: functions.rem(25px);
  }

  span {
    font-weight: 700;
  }

  svg {
    @include mixins.size(28, 28);
    display: inline-block;
    vertical-align: middle;
    margin-right: functions.rem(10px);

    @include media.media(">=sm") {
      margin-right: functions.rem(20px);
    }

    &.love {
      @include mixins.size(20, 20);
      fill: variables.$themeColor;
      margin-top: functions.rem(-2px);
      margin-left: functions.rem(3px);
      margin-right: functions.rem(3px);
    }
  }

  a {
    display: inline-block;
    fill: #808080;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #808080;

    &:hover {
      fill: variables.$themeColor;
    }

    &.creator:hover {
      text-decoration: underline;
    }
  }

  ul {
    padding: 0;
    list-style-type: none;

    li {
      margin-bottom: functions.rem(10px);
    }

    a {
      text-decoration: none;
      font-size: functions.rem(15px);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.main-page {
  footer {
    background: variables.$primaryDark;
    border-top: 1px solid color.scale(variables.$primaryDark, $lightness: 10%);

    p {
      color: variables.$accentDark;
    }
  }
}
