@use "functions";
@use "media";
@use "mixins";
@use "variables";

@use "sass:color";

.home {
  @include mixins.mainFont(400);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: functions.rem(80px);

  @include media.media(">=sm") {
    padding-top: functions.rem(100px);
  }

  &.no-padding {
    padding-top: 0;
  }
}

.row {
  @include mixins.center(100%);
  margin: 0px functions.rem(variables.$rowMargin);
}

.flex-grid {
  display: flex;
  flex-flow: row wrap;
}

.title-category {
  font-size: functions.rem(32px);
  margin: 0 0 functions.rem(40px);
  padding: 0 functions.rem(23px);
  text-transform: lowercase;
  color: #fff;
}

.box-item {
  flex: 1 0 variables.$itemMinWidth;
  margin: 0 0 functions.rem(30px);
  display: inline-block !important;
  min-height: functions.rem(285px);
  transition: all 0.3s;
  position: relative;
  z-index: 1;
  background-color: #1e1e1e !important;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  visibility: visible !important;
  opacity: 1 !important;

  @include media.media(">=sm") {
    margin: 0 functions.rem(variables.$itemMargin) functions.rem(30px);
  }

  // Note 1: This complex calc right here is what makes the leftover box items
  // have the same width than their siblings.
  @for $n from 2 through variables.$maxItemsPerRow {
    $resolution: (2 * variables.$rowMargin) + ($n * variables.$itemMinWidth);
    @include media.media(">=#{$resolution}") {
      max-width: calc(100%/#{$n} - #{variables.$itemMargin * 2});
    }
  }

  // Note 2: This sets the maximum number of box items per row.
  @include media.media(">=#{(2 * variables.$rowMargin) + (variables.$maxItemsPerRow * variables.$itemMinWidth)}") {
    flex: 1 0 calc(100%/#{variables.$maxItemsPerRow} - #{variables.$itemMargin * 2});
  }

  &:hover {
    z-index: 2;
    transform: scale(1.1);

    img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      transform: scale(1.05);
    }

    .box-body {
      time,
      p {
        color: variables.$accentDark;
      }

      .cover {
        .new-post-tag {
          background-color: #000;
        }

        .read-icon {
          opacity: 1;
        }
      }
    }
  }

  a {
    text-decoration: none;
    display: block;
  }

  .category {
    display: block;
    height: functions.rem(36px);
    line-height: functions.rem(36px);
    text-transform: uppercase;
    font-weight: bold;
    font-size: functions.rem(18px);
    padding: 0 functions.rem(15px);

    a {
      color: #aaa;

      &:hover {
        color: variables.$themeColor;
      }
    }
  }

  .box-body {
    img {
      width: 100%;
      height: auto;
      margin: 0 auto;
      transition: all 0.2s ease-in-out;
    }

    time {
      font-weight: 300;
      font-size: functions.rem(16px);
      color: #999;
      pointer-events: none;
    }

    h2 {
      margin: functions.rem(10px) 0;
      font-size: functions.rem(24px);
      @include mixins.mainFont(800);
      color: #fff;
      line-height: functions.rem(30px);
    }

    p {
      margin: 0 0 functions.rem(30px);
      color: #ccc;
      font-size: functions.rem(17px);
      line-height: functions.rem(26px);
    }

    .tags a {
      height: functions.rem(30px);
      line-height: functions.rem(26px);
      color: #ccc;
      padding: 0 functions.rem(10px);
      border: 1px solid #666;
      border-radius: 15px;
      display: inline-block;
      margin: 0 functions.rem(10px) functions.rem(10px) 0;
      z-index: 50;

      &:hover {
        color: #fff;
        background: variables.$themeColor;
        border-color: variables.$themeColor;
      }
    }

    .cover {
      position: relative;
      display: block;

      .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        color: variables.$themeColor;
        z-index: 1;
      }

      img {
        position: relative;
        z-index: 2;
      }

      .new-post-tag {
        text-transform: uppercase;
        display: inline-block;
        background: variables.$themeColor;
        color: #fff;
        font-size: functions.rem(13px);
        font-weight: 700;
        line-height: functions.rem(24px);
        padding: 0 functions.rem(8px);
        position: absolute;
        bottom: functions.rem(8px);
        left: 0;
        z-index: 3;
      }

      .read-icon {
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
        content: "";
        width: functions.rem(80px);
        height: functions.rem(80px);
        border-radius: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: functions.rem(-40px);
        margin-left: functions.rem(-40px);
        border: 2px solid #fff;
        color: variables.$themeColor;
        z-index: 4;

        svg {
          width: functions.rem(48px);
        }
      }
    }
  }

  .box-info {
    padding: functions.rem(15px);
  }
}
