@use "functions";
@use "media";
@use "mixins";
@use "variables";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body.has-push-menu,
body.has-push-menu aside,
body.has-push-menu .progress-bar {
  transition: all 0.3s ease;
}

body.has-push-menu {
  overflow-x: hidden;
  position: relative;
  left: 0;

  &.push-menu-to-right {
    left: functions.rem(240px);

    .progress-bar {
      left: functions.rem(240px);
    }

    .bar-header {
      left: functions.rem(240px);
    }
  }
}

aside.sidebar {
  position: fixed;
  width: functions.rem(240px);
  height: 100%;
  top: 0;
  left: functions.rem(-240px);
  background-color: variables.$accentDark;
  z-index: 20;

  @include media.media(">=sm") {
    padding: functions.rem(10px) 0 0;
  }

  &.open {
    left: 0;
  }

  h2 {
    margin: 0 functions.rem(20px) 0;
    @include mixins.mainFont(400);
    font-size: functions.rem(18px);
    color: variables.$primaryDark;
    border-bottom: 1px solid variables.$primaryDark;
    line-height: 50px;

    @include media.media(">=sm") {
      font-size: functions.rem(20px);
    }
  }

  nav {
    ul {
      padding: 0;
      margin: functions.rem(5px) 0;

      @include media.media(">=sm") {
        margin: functions.rem(10px) 0;
      }

      li {
        margin: 0;
        list-style-type: none;

        a {
          width: 100%;
          display: block;
          padding: functions.rem(15px) functions.rem(20px);
          text-decoration: none;
          @include mixins.mainFont(300);
          color: variables.$primaryDark;

          &:hover {
            color: variables.$accentDark;
            background: variables.$themeColor;
          }
        }
      }
    }
  }
}
