@use "functions";
@use "media";
@use "mixins";
@use "variables";

@use "sass:color";

.search-wrapper {
  position: fixed;
  top: 30px;
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
  transform: translateY(-200px);
  z-index: 19;

  &.active {
    transform: translateY(0);
  }
}

.search-form {
  position: relative;
  top: 0;
  width: 100%;
  transform: translateX(-200px);
  transition: all 200ms 100ms cubic-bezier(0, 0.6, 0.4, 1);
  opacity: 0;
  z-index: 19;

  .search-field {
    width: 100%;
    height: functions.rem(40px);
    line-height: functions.rem(30px);
    @include mixins.mainFont(300);
    font-size: functions.rem(20px);
    color: variables.$primaryDark;
    background-color: variables.$accentDark;
    border: 0;
    border-radius: functions.rem(20px);
    padding: functions.rem(5px) functions.rem(25px);
    outline: 0;
  }

  &:focus {
    outline: 0;
  }

  &.active {
    top: 0;
    transform: translateX(0);
    opacity: 1;
  }

  .search-list {
    position: absolute;
    width: 100%;
    @include mixins.mainFont(300);
    display: none;
    padding: 0 functions.rem(20px);
    margin: functions.rem(20px) 0;
    list-style-type: none;

    @include media.media("<sm") {
      height: 380px;
      overflow: scroll;
    }

    .active & {
      display: block;
    }

    .entry-date {
      float: right;
      display: none;
      font-size: functions.rem(14px);

      @include media.media(">=sm") {
        display: inline;
      }
    }

    .entry-category {
      text-transform: uppercase;
      background-color: variables.$themeColor;
      margin-right: functions.rem(5px);
      height: functions.rem(20px);
      border-radius: functions.rem(10px);
      font-size: functions.rem(12px);
      padding: functions.rem(2px) functions.rem(8px);
      color: #ffffff;
    }

    a {
      color: variables.$accentDark;
      text-decoration: none;
      display: block;
      padding: functions.rem(15px) 0;
      width: 100%;
      border-bottom: 1px solid color.scale(variables.$accentDark, $lightness: -80%);
      transition: all 0.3s;
      line-height: functions.rem(25px);

      &:hover {
        color: variables.$themeColor;
        .entry-category {
          color: #ffffff;
        }
      }
    }
  }

  .icon-remove-sign {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: functions.rem(26px);
    height: functions.rem(26px);
    padding: functions.rem(5px);
    fill: variables.$accentDark;
    background-color: variables.$themeColor;
    border-radius: 13px;
    margin: functions.rem(7px);
    cursor: pointer;
    outline: 0;
    z-index: 1;
  }
}

.search-overlay {
  overflow: hidden;

  &:after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: variables.$primaryDark;
    content: "";
    z-index: 18;
  }
}
