@use "functions";
@use "media";
@use "mixins";
@use "variables";

.share {
  @include mixins.center(800px);
  text-align: center;
  border-top: 1px solid variables.$lightGray;
  padding-top: functions.rem(20px);
  margin-top: functions.rem(10px);

  @include media.media(">=sm") {
    margin-top: functions.rem(50px);
  }

  article & {
    border-top: none;
  }

  svg {
    margin: functions.rem(15px);
    @include mixins.size(35, 35);
  }

  a {
    text-decoration: none;
    border: none;
  }

  .icon {
    transition: all 0.3s;
  }

  .icon-twitter:hover {
    fill: #1da1f3;
  }
  
  .icon-facebook:hover {
    fill: #3b5998;
  }
}
