@use "functions";
@use "media";
@use "mixins";
@use "variables";

.staff {
  @include media.media(">=sm") {
    @include mixins.center(functions.rem(800px));
  }

  .item:not(:last-child) {
    border-bottom: 1px solid variables.$lightGray;
  }

  img {
    width: functions.rem(150px);
    margin: 0 functions.rem(20px) functions.rem(20px);

    @include media.media(">=sm") {
      width: functions.rem(200px);
      margin-bottom: functions.rem(30px);
    }
  }

  h1,
  h2,
  h3 {
    margin-bottom: functions.rem(10px);

    &.name {
      padding-top: functions.rem(10px);
    }

    &.position {
      font-size: functions.rem(19px);
      font-weight: normal;
      font-style: italic;
      color: #999;
      padding-top: 0;
      margin-bottom: functions.rem(20px);
    }
  }
}
